header{background-color: aliceblue;}
img{display:inline-block; margin: 0% ; padding: 10px;}
body{background-color: #7f1eeeee;} 
.mmmmmmm{width: 15%}
.fotos{width: 15%;}
.fotos{width: 15%;}
.cabecario {background-color: beige;}
.semaforo{width: 10%;}