header{background-color: rgb(253, 253, 218);}
body{background-color: #cef0acee;} 
img{width: 30%;}
.teclado{background-color: rgb(183, 245, 245); display: grid; gap: 10px; grid-template-columns: repeat(3,1fr);padding: 10px;}
.tecla{color: #d17373;background-color: antiquewhite;}
.tecla.ativa,
.tecla:active{color: #a6e4be;background-color: #a6e4be; outline: none;}