header{background-color: rgb(226, 235, 242);}
img{display:inline-block; margin: 0% ; padding: 10px;}
body{background-color: #8acbe9ee;} 
.mmmmmmm{width: 15%}
.fotos{width: 15%;}
.fotos{width: 15%;}
.cabecario {background-color: beige;}
.semaforo{width: 10%;}
.fotos{width: 15%;}
 @media screen and (max-width: 394px)
@media screen and  (min-width: 394px) and (max-width: 720px)
@media screen and ( min-width:720px)    
 

    
